body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $main-text-col;
  
    background-color: $clear-col;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  label {
    position: relative;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
  }
  svg {
    fill: currentColor;
  }
  .svg {
    fill: $secondary-text-col;
  }
  .svg:hover {
    fill: $accent-col;
  }
  address {
    font-style: normal;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .current_page {
    position: absolute;
    bottom: 0;
  
    width: 100%;
  
    border: 2px solid $accent-col;
    border-radius: 2px;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .flex_container {
    display: flex;
    align-items: center;
  }
  .join-link-container {
    display: flex;
    align-items: baseline;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }